//- mixin works like a function
//- video. => video tag
mixin videoBlock(video = {})
    .videoBlock 
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src=video.videoFile, controls=false)
            .video__detail
                .video__detail__image
                    .creator-avatar
                        if (video.name)
                            if video.avatarUrl 
                                img.u-avatar(src=`${video.avatarUrl.includes("http") ? video.avatarUrl : `/${video.avatarUrl}` }`)
                            else
                                img.u-avatar(src="https://jameswetube2.s3-us-west-2.amazonaws.com/avatar/noImage.png") 
                .video__detail__info
                    h4.videoBlock__title=video.title
                    if (video.name)
                        h6.videoBlock__owner=video.name
                    .view-date__info
                        if video.views === 1
                            h6.videoBlock__views 1 view 
                        else 
                            h6.videoBlock__views #{video.views} views
                        h6.videoBlock_createdAt=video.createdAt.toISOString().split('T')[0]
            