header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fab.fa-youtube
                h1="WETUBE"
        .header__column 
            form(action=routes.search, method="get")
                input(type="text", placeholder="Search by term...", name="term")
                div
                    button(type="sumbit")
                        i.fas.fa-search
        .header__column
            ul
                if !loggedUser
                    li 
                        a(href=routes.join) 
                            div="Join"
                            div.i.fas.fa-pencil-alt
                    li 
                        a(href=routes.login)
                            div="Log In"
                            div.i.fas.fa-sign-in-alt
                else 
                    li  
                        a(href=`/videos${routes.upload}`) 
                            div="Upload"
                            div.i.fas.fa-cloud-upload-alt    
                    li 
                        a(href=routes.me) 
                            div="Profile" 
                            div.i.far.fa-id-badge
                    li
                        a(href=routes.logout) 
                            div="Log Out"
                            div.i.fas.fa-sign-out-alt