.sideMenu 
    ul
        li="Home"
        li="Trending"
        li="Subscriptions"
    ul 
        li="Library"
        li="History"
        li="Your videos"
        li="Watch later"
        li="Liked videos"
    h6="SUBSCRIPTIONS"